body {
    background: #fff
}
#menu, #menu-numeros{
	position: fixed;
	top: 0;
	z-index: 100;
	a{
		color: #fff;
		background: #000;
		padding: 2px 5px;
		display: block;
		float: left;
	}
}
#menu-numeros{
	top: 50px;
}
#sections{
	overflow-x: hidden;
	overflow-y:auto;
	position: relative;
    .sections-row{
    	clear: both;
    	.section{
    		position: relative;
    		display: block;
    		float: left;
    		color: #fff;
    	}
    }
}

#section1{
	background-color: #0000ff;
}
#section2{
	background-color: #0000dd;
}
#section3{
	background-color: #0000aa;
}
#section4{
	background-color: #000099;
}
#section5{
	background-color: #000066;
}

#section6{
	background-color: #ff0000;
}
#section7{
	background-color: #dd0000;
}
#section8{
	background-color: #a00;
}
#section9{
	background-color: #900;
}
#section10{
	background-color: #600;
}
//@color_tercera_fila: #0f0;

#section11{
	background-color: #0f0;
}

#section12{
	background-color: #0c0;
}
#section13{
	background-color: #0a0;
}
#section14{
	background-color: #090;
}
#section15{
	background-color: #060;
}
#section16{
	background-color: #030;
}
